* {
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  /* */
}
.nav label {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}
.book {
  display: flex;
  align-items: center;
  justify-content: center;
}
.con {
  display: flex;
  flex-direction: column;
}
.con span {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}
.con span i {
  margin-right: 1em;
}
.recm{
  margin: 2em 1em;
}
.recm h2{
  margin-bottom: 1em;
  text-decoration: underline;
}
.recm ol{
  margin-left: 1em;
}
.recm ol li{
  margin: 1em 0;
  font-size: 20px;

}
.book button {
  border: none;
  outline: none;
  margin-left: 1em;
  padding: 1em;
  background-color: #219ebc;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.book button:hover {
  background-color: #1e7a91;
}
.section {
  padding: 1em;
  background-color: #023047;
  color: #fff;
}
.section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.section ul li {
  list-style: none;
}
.section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  display: flex;
  justify-content: center;
  padding-right: 2em;
  padding-left: 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.section ul li a:hover {
  background-color: #fff;
  color: #000;
}
.navItem {
  position: absolute;
  width: 0%;
  visibility: hidden;
  transition: all 0.5s ease;
}
#hamburger.active {
  color: #000;
}
.navItem.active {
  visibility: visible;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  padding: 2em 1em 0;
}

.navItem h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}
.navItem ul li {
  margin: 2em 0;

  list-style: none;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.navItem .con {
  margin-bottom: 1em;
}
.navItem .con span {
  font-size: 17px;
  margin-bottom: 0.5em;
}
.navItem button {
  border: none;
  outline: none;
  margin-left: 1em;
  padding: 1em;
  background-color: #219ebc;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.5em 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
html {
  scroll-behavior: smooth;
}
i.fas.fa-align-justify {
  display: none;
}
.navItem {
  position: absolute;
  width: 0%;
  visibility: hidden;
  transition: all 0.5s ease;
}
#hamburger.active {
  color: #000;
}
.content {
  background-color: #fff;
  height: 85vh;
  padding: 8em 1em 2em;
}
.content h3 {
  font-size: 40px;
  margin: 0 0;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}
.mmmain{

}
.leve {
    width: 400px;
    height: 280px;
    background: #219ebc;
    padding: 1em;
    border-radius: 20px;
    margin: 2em 0;
    color: #fff;
}
.resu{
    width: 400px;
    background: #219ebc;
    padding: 1em;
    border-radius: 20px;
    margin: 2em 0;
    color: #fff;
}
.dashboard .ss{
      margin-top: 3em;
    font-size: 31px;
    margin-left: 1em;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}
.content .lll {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}
.content span {
  font-size: 50px;
  margin: 0 10px;
}
.recc h2 {
  text-decoration: underline;
  margin-bottom: 1em;
}
.recc ol li {
  margin-bottom: 0.6em;
  font-family: "Courier New", Courier, monospace;
  margin-left: 2em;
}
.content button {
  border: none;
  outline: none;
  padding: 1em;
  margin-top: 1em;
  background-color: #fff;
  color: #1e7a91;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.content .ss{
  display: none;
}

@media (max-width: 768px) {
  .section ul {
    width: 100%;
  }
  .service {
    padding: 0;
  }
  .servCap {
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .text {
    transform: translate(0);
  }
  .content {
    padding: 2em 0;
  }
  .content > div {
    width: 90%;
  }
  .content > div {
    padding: 0;
    margin: 5px;
  }

  .service {
    height: 550px;
  }
  .servCap {
    align-items: center;
    flex-direction: column;
  }
  .section ul {
    display: none;
  }
  .icoon {
    display: none;
  }
  i.fas.fa-align-justify {
    display: block !important;
    transition: all .3s ease;
  }
  i.fas.fa-align-justify:hover{
    color: #1e7a91;
  }
  .option {
    width: 90%;
    margin: auto;
  }
  .book {
    display: none;
  }
  .nav {
    padding: 1.4em 1em;
  }
  .test h1 {
    font-size: 40px;
  }
}




  /* ========= Dashboard left ============ */
  
  .main{
   display: flex;
   flex-direction: row;
  }
  .top{display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 14.5%;
    right: 3%;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 8px;
  }
  .top img{
    height: 20px;
    border-right: 2px solid #aaa;
    padding-right: 5px;
  }
  .top input{
    outline: none;
    border: none;
    color: rgb(156, 156, 156);
  }
 hr{
   position: absolute;
   width: 100vw;
   top: 20%;
   border: 2px solid #aaa;
 }
  .buttom{
    position: absolute;
    top: 25%;
    left: 20%;
    width: 75%;
    margin: 20px;
    overflow-y: scroll;
    height: 450px;
  }
  .error {
    color: #fc7f7f;
    width: 100%;
    text-align: center;
  }
  .table{
    font-size: 0.9em;
    min-width: 400px;
  }
  .table thead tr{
    background-color: #285943;
    color: #fff;
    text-align: left;
    font-weight: 500;
  }
  .table th,
  .table td{
    padding: 12px 20px;
  }
  .table tbody tr:nth-of-type(even){
    background-color: #f2f2f2;
  }
  .dashboard{
        width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #219ebc;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    position: absolute;
    z-index: 11;
  }

  .regis{
    display: flex;
    align-items: center;
  }
  
  .reg{
    background-color: #fff ;
    text-decoration: none;
    color:#285943;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 25px;
   text-align: center;
    margin: 70px 10px;
  
  }
  .sign{
    position: absolute;
    bottom: 100px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    background: transparent;
  }
 section.main-top {
    width: calc(100% - 350px);
    position: absolute;
    left: 349px;
}
  
  

  @media (max-width:1000px) {

    .hamburger{
      border: 1px solid #fff;
      padding: 5px;
      margin-right: 20px;
      cursor: pointer;
    }
    .bar{
      width: 25px;
      height: 2px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      margin: 5px;
    }
    .sign{
      position: absolute;
      bottom: 75px;
    }
    .dashboard{
      width: 0%;
      margin: 0;
      position: absolute;
      transition: all 0.5s ease;
      opacity: 0;
    }
    section.main-top {
        width: 100vh;
    position: static;
    }

    .content .ss{
      display: block;
      font-size: 30px;
      font-family: 'Courier New', Courier, monospace;
    }

    .dashboard.active{
      background-color: #66a771;
      width: 300px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 100vh;
    }
    .hamburger.is-active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.is-active .bar:nth-child(1){
      transition: all 0.5s ease;
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.is-active .bar:nth-child(3){
      transition: all 0.5s ease;
      transform: translateY(-5px) rotate(-45deg);
    }
    
    .buttom{
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-20%, -50%);
      margin: 30px 0;
    }
  }

  @media (max-width:560px) {
    body{
      overflow-x: hidden;
      position: static;
    }
    .top{
      width: 80%;
    }
    .buttom{
      width: 100vw;
    }
  }